@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:500');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-FiraGO;
  background-color: #fff;
}

@font-face {
  font-family: Helvetica;
  src: url('../fonts/HelveticaNeue.ttc');
}

.custom-checkbox {
  /* Hide default checkbox */
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #d1d5db;
  border-radius: 2px;
  cursor: pointer;
}

.custom-checkbox:checked {
  background-color: #45a849; /* Change background color when checked */
  border-color: #45a849; /*  Match border color */
}

.custom-checkbox:checked::after {
  content: '';
  display: block;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin-left: 6px;
  margin-top: 1px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}

input[type='radio'] {
  appearance: none; /* Remove default radio button */
  background-color: white;
  border: 1px solid #021526;
  width: 20px; /* Size of the outer radio button */
  height: 20px; /* Size of the outer radio button */
  border-radius: 50%; /* Make it circular */
  position: relative;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
}

input[type='radio']:checked {
  background-color: white;
  border-color: #021526;
}

input[type='radio']:checked::after {
  content: '';
  width: 8px; /* Small dot size */
  height: 8px; /* Small dot size */
  background-color: #021526; /* Dot color */
  border-radius: 50%;
  position: absolute;
  top: 50%; /* Position at the center vertically */
  left: 50%; /* Position at the center horizontally */
  transform: translate(-50%, -50%); /* Perfect centering */
  display: block;
}
